:root {
    --primary-color: #6D87F7;
    --dark-blue: #002f6b;
    --light-blue: #8caef8;
    --transparent-blue: #3561a462;
    --grey: #9ea3ae;
    --light-color: #f5f6fa;
    --dark-color: #0f0f0f;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--light-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
  }

  html, body {
    font-family: "Montserrat", sans-serif !important;
  }

  h1, h2, h3, h4, h5, h6 { 
    font-family: "Revalia", sans-serif !important;
  }

  p, span, button, a, input, textarea { 
    font-family: "Montserrat", sans-serif !important;
  }

