:root {
    --primary-color: #6D87F7;
    --dark-blue: #002f6b;
    --light-blue: #8caef8;
    --transparent-blue: #3561a462;
    --grey: #9ea3ae;
    --light-color: #f5f6fa;
    --dark-color: #0f0f0f;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--light-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
  }

  html, body {
    font-family: "Montserrat", sans-serif !important;
  }

  h1, h2, h3, h4, h5, h6 { 
    font-family: "Revalia", sans-serif !important;
  }

  p, span, button, a, input, textarea { 
    font-family: "Montserrat", sans-serif !important;
  }

  .w-10px {
    width: 10px !important;
  }

  .w-20px {
    width: 20px !important;
  }

  .w-30px {
    width: 30px !important;
  }

  .w-40px {
    width: 40px !important;
  }

  .w-50px {
    width: 50px !important;
  }

  .ml-10 {
    margin-left: 10px !important;
  }

  .ml-20 {
    margin-left: 20px !important;
  }

  .ml-30 {
    margin-left: 30px !important;
  }

  .ml-40 {
    margin-left: 40px !important;
  }

  .ml-50 {
    margin-left: 50px !important;
  }

  .mr-10 {
    margin-right: 10px !important;
  }

  .mr-20 {
    margin-right: 20px !important;
  }

  .mr-30 {
    margin-right: 30px !important;
  }

  .mr-40 {
    margin-right: 40px !important;
  }

  .mr-50 {
    margin-right: 50px !important;
  }

  .fs-10 {
    font-size: 10px !important;
  }

  .fs-20 {
    font-size: 20px !important;
  }

  .fs-30 {
    font-size: 30px !important;
  }

  .fs-40 {
    font-size: 40px !important;
  }

  .fs-50 {
    font-size: 50px !important;
  }